.App {
  padding: 15px;
  min-height: 100vh;
}

/* COMMON */
.w-100 {
  width: 100%
}

/* CUSTOM */
.head-choice {
  margin: 5px;
}

.choice-row {
  margin: 10px 5px;
}

.choice-btn {
  margin: 5px;
}

.active {
  background: blue;
  color: white;
}

.active:hover {
  color: white !important;
}

.box-card {
  max-width: 85%;
  margin: 3vw auto auto;
}

.image {
  aspect-ratio: 1.75;
}

.row-data {
  margin: 5px 0px;
}

.ant-input {
  padding: 6px 12px
}